logs/
__pycache__
plugins/__pycache__
plugins/operators/__pycache__
.fpl/
ingestion/__pycache__
settings.json
package-lock.json
package.json
*.parquet
.DS_Store
*.db
terraform/.terraform/
terraform/tmp